#suggestions {
    width: 80vw;
    height: 100%;
    text-align: center;
}

#suggestions input {
    width: 100%;
    height: 3em;
    padding: .2em;
    border: none;
    border-bottom: thin solid black;
    transition: border-bottom .1s linear;
    font-size: 2em;
}
#suggestions input:focus {
    border-bottom: solid blue;
}

#names * {
    color: var(--black);
}
#names * + * {
    border-top: thin solid var(--black);
}

.suggestion {
    display: block;
    width: 100%;
    z-index: 5;
    text-decoration: none;
    padding: .2em;
    color: var(--black);
    font-size: 2em;
    transition: all .3s linear;
}
.suggestion:hover {
    background: var(--darkeroffwhite);
}