[Unit]
Description=Check-in uWSGI server
After=syslog.target network.target

[Service
ExecStart=/home/dev/checkin/backend/run.sh

[Install]
WantedBy=multi-user.target