[Unit]
Description=Check-in uWSGI server
Before=nginx.service
After=syslog.target network.target

[Service]
User=dev
Group=www-data
ExecStart=/usr/local/bin/checkinWSGI.sh

[Install]
WantedBy=multi-user.target