<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#e6e6e6" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <title>SHHA Check-In System | User Information</title>
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='css/admin.css') }}' />
</head>
<body>
    <h1>{{ data.accountLast }}, {{ data.accountFirst }}</h1>
    <table>
        <tr>
            <th>Child Name & Birth Year</th>
        </tr>

        {% for name in data.children %}
        <tr>
            <td>{{ name }}</td>
        </tr>
        {% endfor %}
    </table>

    <table>
        <tr>
            <th>Caregiver Names</th>
        </tr>
        {% for name in data.caregivers %}
        <tr>
            <td>{{ name }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>