#results {
    display: table;
    width: 90%;
    font-size: var(--defaultFontSize);
    border: 1px solid black;
}

#results tr:nth-child(even) {
    background-color: var(--darkeroffwhite);
}

#results a {
    display: table-cell;
    color: var(--black);
    text-decoration: underline dotted black;
}