#results {
    display: table;
    width: 80%;
    font-size: 3em;
    border: 1px solid black;
}

#results tr:nth-child(even) {
    background-color: var(--darkeroffwhite);
}

#results a {
    display: table;
    color: var(--black);
    text-decoration: underline dotted black;
}