/***************
Checkbox styling
***************/
.checkbox {
    display: block;
    position: relative;
    width: 1em;
    height: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
}

/* Styles under all conditions */
.checkbox input ~ .checkmark {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #FFAB91;
    transition: background .3s linear, box-shadow .3s linear;
}

/* TODO: Finish the check image */
.checkImage {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .3s linear;
}

/* Styles on hover */
.checkbox input:hover ~ .checkmark {
    background: var(--inactiveBlue);
    box-shadow: var(--defaultboxshadow);
}

/* Styles when checked */
.checkbox input:checked ~ .checkmark {
    background: var(--activeBlue);
    box-shadow: var(--defaultboxshadow);
}

.checkbox input:checked ~ .checkImage {
    opacity: 1;
}

/**************
Counter styling
**************/
.counter {
    display: flex;
    width: max-content;
    flex-flow: row wrap;
    align-items: baseline;
}

.counter button {
    height: 4rem;
    width: 4rem;
    border: none;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    font-size: .75em;
    transition: background .3s linear;
}

.count {
    background: var(--offwhite);
}

.minus {
    background: #FFAB91;
}

.minus:hover {
    background: #FF8A65;
}

.plus {
    background: #A5D6A7;
}

.plus:hover {
    background: #81C784;
}

/**********************
Checkin webpage styling
**********************/
#checkin {
    display: grid;
    width: 95%;
    height: 95%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 2.5%;
    font-size: 2.5em;
}

.namesTable {
    width: 90%;
    height: 90%;
    border: thin solid black;
}

#checkinButton {
    width: 90%;
    height: 90%;
    background: var(--background);
    color: var(--offwhite);
    padding: 5%;
    border-radius: 50px;
    font-size: 1em;
    transition: box-shadow .3s linear, background .3s linear;
}
#checkinButton:hover, #checkinButton:active {
    box-shadow: var(--defaultboxshadow);
    background: var(--activeBlue);
}

@media screen and (max-width: 500px) {
    #checkin {
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
    }
}