/* Checkbox styling */
input.checkbox {
    height: 3em;
    width: 3em;
    margin: 1em;
    background: black;
    border-radius: 10px;
}

/* Counter styling */
.counter {
    display: flex;
    width: max-content;
    flex-flow: row wrap;
    align-items: baseline;
    border: thin solid black;
}

.counter button {
    height: 4em;
    width: 4em;
}

.counter p {
    margin: 0;
}

#minus {
    background: red;
}
#plus {
    background: green;
}

/* Checkin webpage styling */

#checkin {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-around;
    width: 95%;
    height: 95%;
    padding: 2.5%;
    font-size: 2.5em;
}

.namesTable {
    width: 45%;
    border: thin solid black;
}

#checkinButton {
    background: var(--background);
    color: var(--offwhite);
    padding: 5%;
    border-radius: 80px;
    font-size: 3em;
    transition: box-shadow .3s linear, background .3s linear;
}
#checkinButton:hover, #checkinButton:active {
    box-shadow: var(--defaultboxshadow);
    background: var(--activeBlue);
}