/* placeholder for the time being */
.checkin {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: space-around;
    font-size: 3em;
}

.namesTable {
    width: 100%;
    height: 100%;
}

#checkinButton {
    background: #0F9D58;
    color: var(--offwhite);
    border-radius: 3px;
    font-size: 3em;
}