#nav {
    display: flex;
    width: 96%;
    padding: 2%;
    background: var(--background);
    flex-flow: row wrap;
    justify-content: space-between;
}

.navLink {
    color: var(--titlecolor);
    font-size: 2em;
    text-decoration: none;
}

#view {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 90%;
}